#aboutMeDiv {
    padding-top: 2.5%;
}

.profile {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.profile-img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    object-fit: cover;
}

.profile-info {
    display: flex;
    align-items: center;
    gap: 20rem;
    flex-wrap: wrap;
    justify-content: center;
}

.profile-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-text h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

.profile-text h4 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #ffffff;
}

.profile-button a {
    font-size: 1.3rem;
    padding: 0.75rem 1.5rem;
    background-color: #1f1f1f;
}

.bio {
    padding-top: 3%;
    font-size: 1.7rem;
}

#skillsDiv {
    margin-top: 2.5%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
}

.skill {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 1.5rem;
}

#certifsDiv {
    margin-top: 3rem;
    text-align: center;
}

#certLink {
    text-decoration: none;
    color: #212529;
}

#certLink:hover {
    text-decoration: underline;
}

/* ------------------- */
/* MOBILE OPTIMIZATION */
/* ------------------- */
@media (max-width: 768px) {
    .profile {
        flex-direction: column;
        gap: 1.5rem;
    }

    .profile-info {
        flex-direction: column;
        gap: 1.5rem;
    }

    .profile-img {
        width: 10rem;
        height: 10rem;
    }

    .profile-text h1 {
        font-size: 2rem;
    }
}